name: A workflow for my Hello World file
on:
  push:
    branches:    
    - 'master'
    - 'tez'
    - 's19a'
jobs:
  build:
    name: First action test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./action-a
        with:
          MY_NAME: "Mona"
