name: A workflow for my Hello World file
on: push
jobs:
  build:
    name: First action test
    if: github.ref == 'refs/heads/s18b'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./action-a
        with:
          MY_NAME: "Mona"
