name: A workflow for my Hello World file
on: push
branches:
      - main
      - s**
      - t1*
      - release
jobs:
  build:
    name: First action test
    if: github.ref != 'refs/heads/t1*'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: ./action-a
        with:
          MY_NAME: "Mona"
